.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  /* align-self: flex-end; */
  font-size: 15px;
  border-radius: 30px;
  padding: 10px;

}
.received p {
  background: #e5e5ea;
  color: black;
}